.container-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F1F1F1;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 3em;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #F1F1F1;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    margin: 1rem 0;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguer {
    width: 35px;
    height: 3px;
    background-color: #007838;
    margin: 5px;
}

/* Estilo padrão dos links */
.navbar .item a {
    color: #007838; /* Escolha a cor desejada para os links */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Opcional: Deixa o texto em negrito */
}

/* Alteração da cor ao passar o mouse */
.navbar .item a:hover {
    color: #004d29; /* Cor para o efeito hover */
}

/* Alteração da cor ao clicar ou selecionar */
.navbar .item a:active {
    color: #002815;
}
