body {
    font-family: Arial, sans-serif;
    background-color: #ccffcc; /* Verde claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #99cc99; 
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
}

.container h2 {
    color: #fff;
    text-align: center;
}
.container h3 {
    color: #10330f;
    text-align: center;
}

.fruit {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.progress-bar {
    flex-grow: 1;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 10px;
}

.progress {
    height: 100%;
    background-color: #19461b;
}

.percentage {
    color: #10330f;
}