body {
    font-family: Arial, sans-serif;
    background-color: #5CC163;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #99cc99; 
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
}

.details{
    float: left;
}

.percent{
    float: right;
}